{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="content">
        {% if request.user.is_authenticated %}
            <h1>Hi, {{ user.first_name }}</h1>
            <p>Look at this pretty frog.</p>
            <img src="{% static 'main/img/jaba.jpg' %}">
        {% else %}
            <h2>{{ header }}</h2>
            <p>Please sign in or sign up to continue</p>
        <a href="/accounts/login">Sign in</a> | <a href="/accounts/signup">Sign up</a>
            {% endif %}
    </div>
{% endblock %}


